<mat-card class="nyt-card">
  <mat-card-header>
    <mat-card-title>
      {{
        product.title.length > 40
          ? (product.title | slice: 0:40) + ".."
          : product.title
      }}
    </mat-card-title>
    <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="{{ product?.imageUrl ? product.imageUrl : '' }}"
    height="204px"
  />
  <mat-card-content>
    <p  *ngIf="product.price" style="text-align: center; font-weight: bold;">
      Price: {{ product?.price }} USD
    </p> 
    <p>
      {{
        product.description.length > 110
          ? (product.description | slice: 0:110) + ".."
          : product.description
      }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="openDialog(product)" mat-raised-button color="accent">
      Show more ...
    </button>
  </mat-card-actions>
</mat-card>
